.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(14, 104, 14);
    display: inline-block;
    margin: 0px;
  }
  
  .node-finish {
    background-color: rgb(255, 0, 0);
  }
  
  .node-start {
    background-color: rgb(95, 82, 211);
  }
  .node-wall{
    background-color: rgb(2, 44, 8);
  }
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }